
<app-auctions-list [auctions]="auctions" title="Moje aukcje" [isUserAuctions]="true" (edit)="openEdit($event)" (delete)="openDelete($event)"></app-auctions-list>

<p-dialog header="Edycja aukcji" [(visible)]="isEditing" [modal]="true" [draggable]="false">
  <div class="modal">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-title" type="text" size="110" pInputText [(ngModel)]="title">
        <label for="float-input-title">Tytuł</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <textarea id="float-input-description" [rows]="12" [cols]="110"  pInputTextarea autoResize="autoResize"
                  [(ngModel)]="description"></textarea>
        <label for="float-input-description">Opis aukcji</label>
        </span>

      <div class="buttons">
        <button pButton type="button" label="Edytuj aukcję" class="ui-button-rounded ui-button-primary"
                (click)="editAuction()"></button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Usuwanie aukcji" [(visible)]="isDeleting" [modal]="true" [draggable]="false">
  <div class="modal deleting">
    <div class="input">
      <span >Czy napewno chcesz usunąć aukcję? </span>

      <div class="buttons">
        <button pButton type="button" label="Usuń aukcję" class="ui-button-rounded ui-button-secondary"
                (click)="deleteAuction()"></button>
      </div>
    </div>
  </div>
</p-dialog>
