button{
  margin: 0 5px;
}
div.input{
  margin-top: 15px;
  height: 40px;
}
div.modal{
  width: 800px;
  height: 400px;
}
div.buttons{
  margin: 30px 5px 5px 5px;
  text-align: center;
}
div.modal.deleting{
  width: 400px;
  height: 100px;
}
