div.auction{
  padding: 5px;
  border-radius: 3px;
  border-color: #007AD9;
  margin: 5px 2px;
}
div.text{
  margin: 3px;
  border: 1px #007AD9 solid;
  border-radius: 3px;
  padding: 2px;
}
span.date{
  font-size: 11px;
}
div.buttons{
  margin: 3px;
  padding: 2px;
}
p{
  margin: 0 5px;
  padding: 5px;
  border: 1px #007AD9 solid;
  border-radius: 3px;
  text-align: center;
}
p.empty{
  border: 0;
}
