<div>
  <p>
    {{title}}
  </p>
  <div *ngFor="let auction of auctions" class="auction">
    <p-fieldset [toggleable]="true" [collapsed]="true">
      <p-header><b>{{auction.auction.title}}</b> {{auction.firstName}} {{auction.lastName}}</p-header>
      <div class="auction-content">
        <label><b>Opis aukcji:</b></label>
        <div class="text" >
          {{auction.auction.description}}
        </div>
        <div>
          <span class="date">Data utworzenia: {{convertDate(auction.auction.createDate)}}</span>
        </div>
      </div>
      <div *ngIf="isUserAuctions" class="buttons">
        <button  pButton type="button" label="Edytuj aukcję" class="ui-button-rounded ui-button-primary"
                (click)="showEditing(auction)"></button>
        <button pButton type="button" label="Usuń aukcję" class="ui-button-rounded ui-button-secondary"
                (click)="showDeleting(auction)"></button>
      </div>
    </p-fieldset>
  </div>
  <p *ngIf="auctions.length==0" class="empty">
    <span>Brak istniejących aukcji</span>
  </p>
</div>
