

<div id="logo">
  <h1><img width="150" style="vertical-align: bottom;" src="../../../../assets/images/logo.png"> iDove</h1>
</div>
<p>

  <label>Dziękujemy za rejestracje w serwisie IDove.</label><br><br>
  <label>Zapraszamy</label>
</p>
