p{
  margin-top: 100px;
  text-align: center;
}

h1{
  text-align: center;
  color:#007bff;
  font-weight: 900;
  font: 70px Calibri;
  /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}

#logo{
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}
