div.lineage{
  margin : 5px auto;
}
div.header{
  margin: 5px;
}
table.lineage{
  height: 700px;
  width: 100%;
}
td.lineage{
  text-align: center;
  border: 1px grey solid;
  border-radius: 3px;
}
button.header{
  margin: 0 10px;
}
div.title{
  margin: 5px 0;
  width: 100%;
  text-align: center;
}
