<div class="header">
  <div class="title">
    <span>Generowanie rodowodów</span>
  </div>
  <p-autoComplete [(ngModel)]="pigeon" [suggestions]="results" field="ringNumber" placeholder="Wpisz numer obrączki"
                  (completeMethod)="search($event)"
                  (onSelect)="generateLineage(pigeon)" [forceSelection]="true" emptyMessage="Brak pasujących wyników"
                  [minLength]="2"></p-autoComplete>
  <button pButton type="button" label="Wyczyść" class="ui-button-rounded header" (click)="hideLineage()"></button>
  <button pButton type="button" [disabled]="!pigeon" label="PDF" icon="pi pi-download" class="ui-button-rounded header" (click)="exportLineageToPDF()"></button>
</div>


<div id="lineage" #lineage>
<table class="lineage" *ngIf="pigeon!=null">
  <tr>
    <th width="25%">Gołąb</th>
    <th width="30%">Rodzice</th>
    <th width="35%">Dziadkowie</th>
  </tr>
  <tr>
    <td class="lineage">
      <!--pigeon-->
      <app-pigeon-profile [pigeon]="pigeon" [isLineage]="true"></app-pigeon-profile>
    </td>
    <td class="lineage">
      <div>
        <table class="lineage">
          <tr>
            <td class="lineage">
              <!--mother-->
              <span *ngIf="mother==null">Brak danych</span>
              <app-pigeon-profile *ngIf="mother!=null" [pigeon]="mother" [isLineage]="true"></app-pigeon-profile>
            </td>
          </tr>
          <tr>
            <td class="lineage">
              <!--father-->
              <span *ngIf="father==null">Brak danych</span>
              <app-pigeon-profile *ngIf="father!=null" [pigeon]="father" [isLineage]="true"></app-pigeon-profile>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td class="lineage">
      <div>
        <table class="lineage">
          <tr>
            <td class="lineage">
              <!--motherofmother-->
              <span *ngIf="motherOfMother==null">Brak danych</span>
              <app-pigeon-profile *ngIf="motherOfMother!=null" [pigeon]="motherOfMother" [isLineage]="true"></app-pigeon-profile>
            </td>
          </tr>
          <tr>
            <td class="lineage">
              <!--fatherofmother-->
              <span *ngIf="fatherOfMother==null">Brak danych</span>
              <app-pigeon-profile *ngIf="fatherOfMother!=null" [pigeon]="fatherOfMother" [isLineage]="true"></app-pigeon-profile>
            </td>
          </tr>
          <tr>
            <td class="lineage">
              <!--motheroffather-->
              <span *ngIf="motherOfFather==null">Brak danych</span>
              <app-pigeon-profile *ngIf="motherOfFather!=null" [pigeon]="motherOfFather" [isLineage]="true"></app-pigeon-profile>
            </td>
          </tr>
          <tr>
            <td class="lineage">
              <!--fatheroffather-->
              <span *ngIf="fatherOfFather==null">Brak danych</span>
              <app-pigeon-profile *ngIf="fatherOfFather!=null" [pigeon]="fatherOfFather" [isLineage]="true"></app-pigeon-profile>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
</div>
