<p>
  <span>Narzędzie powiadamiania o znalezionym gołębiu</span>
</p>
<div>
  <div class="description">
    <span>Wpisz numer obrączki znalezionego gołębia, a wyszukamy w bazie danych czy taki gołąb istnieje.</span><br><br>
    <span>Jeżeli go znajdziemy to poinformujemy właściciela o Twoich danych kontaktowych wiadomością e-mail, aby mógł się z Tobą skontaktować.</span><br><br>
    <span>Jeśli nam się nie uda to powiadomimy administratora strony oddziału, którego numer znajduje się na obrączce, oraz podamy Ci jego dane kontaktowe, jest duża szansa, że właściciel należy do tego oddziału, a jeżeli nie to powinien wiedzieć z kogo hodowli pochodzi gołąb.</span><br>
    <span>Jeżeli oddział, z którego pochodzi obrączka nie ma administratora to nie możemy nic zrobić :(</span><br><br>
    <div *ngIf="!this.user.isUserLogged" class="input">
      <input type="text" placeholder="Imię" pInputText  [(ngModel)]="firstName" (keypress)="onEnter($event)"/>
      <input type="text" placeholder="Nazwisko" pInputText  [(ngModel)]="lastName" (keypress)="onEnter($event)"/>
    </div>
    <div *ngIf="!this.user.isUserLogged" class="input">
      <input type="text" placeholder="E-mail" pInputText  [(ngModel)]="email" (keypress)="onEnter($event)"/>
      <input type="text" placeholder="Nr telefonu" pInputText  [(ngModel)]="telephoneNumber" (keypress)="onEnter($event)"/>
    </div>


    <div class="input">
      <input type="text" placeholder="Wpisz numer obrączki" pInputText  [(ngModel)]="ringNumber" (keypress)="onEnter($event)"/>
      <button pButton type="button" label="Wyszukaj" class="ui-button-rounded" (click)="findLostPigeon()" [disabled]="isSending"></button>
    </div>
    <div *ngIf="!this.user.isUserLogged" class="input">
      <button pButton type="button" label="Cofnij" class="ui-button-rounded ui-button-secondary" routerLink="/login" ></button>
    </div>

  </div>
</div>
