p{
  text-align: center;
  font-size: 20px;
}
table{
  text-align: center;
  width: 100%;
}
tr{
  height: 30px;
}
td{
  width: 50%;
}
td.right{
  text-align: right;
  font-weight: bold;
}
td.left{
  text-align: left;
}
td.buttons{
  height: 100px;
}
div.separator{
  width: 2px;
  background: #333333;
}
div.modal{
  height: 250px;
  text-align: center;
}
div.modal.details{
  height: 350px;
}
div.modal.email{
  height: 200px;
}
div.modal.delete{
  height: 180px;
}

div.buttons{
  margin: 30px 5px 5px 5px;
  text-align: center;
}
div.info{
  margin-top: 15px;
  height: 50px;
}
div.input{
  margin-top: 15px;
  height: 40px;
}
span{
  margin: 0 15px;
}
button{
  margin: 0 5px;
}
label.confirm{
  width: 100%;
  text-align: center;
  font-size: 14px;
}
