
<p-dialog header="Zmiana hasła" [(visible)]="isChangingPassword" [modal]="true"  [draggable]="false">
  <div class="modal">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-old-password" type="password" size="50" pPassword [feedback]="false" [(ngModel)]="oldPassword">
        <label for="float-input-old-password">Stare hasło</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-new-password" type="password" size="50" pPassword [feedback]="true" [(ngModel)]="newPassword" promptLabel="Siła hasła" weakLabel="Słabe"
               mediumLabel="Średnie" strongLabel="Silne">
        <label for="float-input-new-password">Nowe hasło</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-confirm-password" type="password" size="50" pPassword [feedback]="false" [(ngModel)]="confirmNewPassword">
        <label for="float-input-confirm-password">Potwierdzenie nowego hasła</label>
      </span>
    </div>
    <div class="buttons">
      <button pButton type="button" label="Potwierdź"  class="ui-button-rounded ui-button-primary" (click)="changePassword()" [disabled]="changePasswordButtonBlocked"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Zmiana danych" [(visible)]="isChangingDetails" [modal]="true" [draggable]="false">
  <div class="modal details">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-firstname" type="text" size="50" pInputText [(ngModel)]="firstname">
        <label for="float-input-firstname">Imię</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-lastname" type="text" size="50" pInputText [(ngModel)]="lastname">
        <label for="float-input-lastname">Nazwisko</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-city" type="text" size="50" pInputText [(ngModel)]="city">
        <label for="float-input-city">Miasto</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-address" type="text" size="50" pInputText [(ngModel)]="address">
        <label for="float-input-address">Adres</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-telephone" type="text" size="50" pInputText [(ngModel)]="telephoneNumber" pKeyFilter="num">
        <label for="float-input-telephone">Nr telefonu</label>
      </span>
    </div>
    <div class="buttons">
      <button pButton type="button" label="Potwierdź"  class="ui-button-rounded ui-button-primary" (click)="changeDetails()"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Zmiana adresu e-mail" [(visible)]="isChangingEmail" [modal]="true" [draggable]="false">
  <div class="modal email">
    <div class="info">
      <span class="ui-float-label">
        <label class="confirm">Uwaga, po kliknięciu przycisku poniżej zostaniesz wylogowany, a na podany adres e-mail zostanie wysłany link potwierdzający. Klikając w niego zatwierdzisz zmianę adresu e-mail</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-mail" type="text" size="50" pInputText [(ngModel)]="mail">
        <label for="float-input-mail">Nowy adres e-mail</label>
      </span>
    </div>
    <div class="buttons">
      <button pButton type="button" label="Potwierdź"  class="ui-button-rounded ui-button-primary" (click)="changeEmail()" [disabled]="changeEmailButtonBlocked"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Czy napewno chcesz usunąć konto?" [(visible)]="isDeletingAccount" [modal]="true" [draggable]="false" >
  <div class="modal delete">
    <div class="input">
      <span class="ui-float-label">
        <label class="confirm">Uwaga, tej operacji nie można cofnąć</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-password" type="password" size="50" pPassword [feedback]="false" [(ngModel)]="password">
        <label for="float-input-password">Podaj hasło</label>
      </span>
    </div>
    <div class="buttons">
      <button pButton type="button" label="Potwierdź"  class="ui-button-rounded ui-button-primary" (click)="deleteAccount()"></button>
    </div>
  </div>
</p-dialog>

<p>
  Twoje dane
</p>
<div>
  <table>
    <tr>
      <td>
        <span></span>
      </td>
    </tr>
    <tr>
      <table>
        <tr>
          <td class="right">
            <span>Imię i nazwisko</span>
          </td>
          <td class="left">
            <span>{{this.user.userDetails.firstName}} {{this.user.userDetails.lastName}}</span>
          </td>
        </tr>
        <tr>
          <td class="right">
            <span>Adres e-mail</span>
          </td>
          <td class="left">
            <span>{{this.user.mail}}</span>
          </td>
        </tr>
        <tr>
          <td class="right">
            <span>Adres</span>
          </td>
          <td class="left">
            <span>{{this.user.userDetails.city}}, {{this.user.userDetails.address}}</span>
          </td>
        </tr>
        <tr>
          <td class="right">
            <span>Nr telefonu</span>
          </td>
          <td class="left">
            <span>{{this.user.userDetails.telephoneNumber}} </span>
          </td>
        </tr>
        <tr *ngIf="this.user.fancier.section!=null">
          <td class="right">
            <span>Oddział</span>
          </td>
          <td class="left">
            <span>{{this.user.branch.name}}</span>
          </td>
        </tr>
        <tr *ngIf="this.user.fancier.section!=null">
          <td class="right">
            <span>Sekcja</span>
          </td>
          <td class="left">
            <span >{{this.user.fancier.section.name}}</span>
          </td>
        </tr>
      </table>
    </tr>
    <tr>
      <td class="buttons">
        <button pButton type="button" label="Zmień hasło"  class="ui-button-rounded ui-button-secondary" (click)="showChangePassword()"></button>
        <button pButton type="button" label="Zmień dane"  class="ui-button-rounded ui-button-secondary" (click)="showChangeDetails()"></button>
        <button pButton type="button" label="Zmień e-mail"  class="ui-button-rounded ui-button-secondary" (click)="showChangeEmail()"></button>
        <button pButton type="button" label="Usuń konto"  class="ui-button-rounded ui-button-secondary" (click)="showDeleteAccount()"></button>
      </td>
    </tr>
    <tr *ngIf="this.user.fancier.section!= null">
      <td>
        <button *ngIf="!isLeavingSection" pButton type="button" label="Opuść sekcję"  class="ui-button-rounded ui-button-secondary" (click)="showLeavingSection()" ></button>
        <button *ngIf="isLeavingSection" pButton type="button" label="Opuść sekcję"  class="ui-button-rounded ui-button-danger" (click)="leaveSection()"
                pTooltip="Kliknij, aby potwierdzić" tooltipPosition="top"></button>
      </td>
    </tr>
  </table>
</div>

