<div *ngIf="isBranchSearching" class="ui-inputgroup content">
  <button *ngIf="isHeader" pButton type="button" style="width: 120px" label="Oddział" class="ui-button-primary" (click)="toogleSearchSubject()"
          pTooltip="Kliknij, aby wyszukać użytkownika" tooltipPosition="bottom"></button>
  <div *ngIf="!isHeader" class="ui-inputgroup content">
  <p-autoComplete [(ngModel)]="query" [suggestions]="results" (completeMethod)="searchBranch($event)" [size]="50"
                  placeholder="Wpisz nazwę lub numer oddziału" field="name" (onSelect)="goToBranchPage($event)"
                  emptyMessage="Nie znaleziono oddziału"></p-autoComplete>
  </div>
  <div *ngIf="isHeader" class="ui-inputgroup">
    <p-autoComplete [(ngModel)]="query" [suggestions]="results" (completeMethod)="searchBranch($event)" [size]="50"
                    placeholder="Wpisz nazwę lub numer oddziału" field="name" (onSelect)="goToBranchPage($event)"
                    emptyMessage="Nie znaleziono oddziału"></p-autoComplete>
  </div>
</div>
<div *ngIf="!isBranchSearching" class="ui-inputgroup content">
  <button pButton type="button" style="width: 120px" class="ui-button-primary" label="Użytkownik" (click)="toogleSearchSubject()"
          pTooltip="Kliknij, aby wyszukać oddział" tooltipPosition="bottom"></button>
  <p-autoComplete [(ngModel)]="query" [suggestions]="userResults" (completeMethod)="searchUser($event)" [size]="50"
                  placeholder="Wpisz imię lub nazwisko" field="name" (onSelect)="goToUserProfile($event)"
                  emptyMessage="Nie znaleziono użytkowika">
    <ng-template let-user pTemplate="item">
      <div class="ui-helper-clearfix">
        <div >{{user.userDetails.firstName}} {{user.userDetails.lastName}}</div>
      </div>
    </ng-template>
  </p-autoComplete>
</div>
