button.header{
  margin: 0 10px;
}
button{
  margin : 0 5px ;
}
div.content{
  margin: 10px 0 0 0;
  text-align: center;
}
div.right{
  float: right;
}
div.row{
  width: 100%;
  margin: 5px 0;
}
div.grid{
  text-align: center;
  border: 1px #cccccc solid;
  border-radius : 3px;
}
div.grid-buttons{
  margin: 10px 0 0 0;
}
button.modal{
  margin: 10px 10px;
}
