<p-dataView [value]="sections" emptyMessage="Brak sekcji utworzonych w tym oddziale">
  <p-header>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    <button pButton type="button" label="Dodaj sekcję" class="ui-button-rounded header" (click)="showAdding()"></button>
  </p-header>
  <ng-template  let-section pTemplate="listItem" >
    <div class="row">
      <span>{{section.name}}</span>
      <div class="right">
        <button pButton type="button" icon="pi pi-pencil" class="ui-button-rounded"
                (click)="showEditing(section)"></button>
        <button pButton type="button" icon="pi pi-times" class="ui-button-rounded"
                (click)="showDeleting(section)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-section pTemplate="gridItem" >
    <div  class="ui-g-12 ui-md-3 middle grid" >
      <span>{{section.name}}</span>
      <div class="grid-buttons">
        <button pButton type="button" icon="pi pi-times" class="ui-button-rounded"
                (click)="showDeleting(section)"></button>
        <button pButton type="button" icon="pi pi-pencil" class="ui-button-rounded"
                (click)="showEditing(section)"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>


<p-dialog [header]="title" [(visible)]="showModal">
  <div class="content">
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText [(ngModel)]="name">
    <label for="float-input">Nazwa sekcji</label>
  </span>
    <button *ngIf="isEditing" pButton type="button" label="Zmień nazwę" class="ui-button-rounded modal" (click)="editSection()"></button>
    <button *ngIf="isAdding" pButton type="button" label="Dodaj sekcję" class="ui-button-rounded modal" (click)="addSection()"></button>
  </div>
</p-dialog>


<p-dialog header="Usuwanie sekcji" [(visible)]="isDeleting" [modal]="true" [draggable]="false" >
  <div class="content">
    <div>
      <span>Uwaga! Usunięcie sekcji spowoduje usunięcie powiazania między hodowcami do niej przypisanymi a oddziałem</span>
    </div>
    <button pButton class="ui-button-rounded modal" label="Potwierdź" (click)="deleteSection()"></button>
  </div>
</p-dialog>
