<p>
  Znajomi
</p>
<p-tabView>
  <p-tabPanel header="Znajomi">
    <p-dataView #dv [value]="this.friends.friends" emptyMessage="Brak znajomych" filterBy="branchName" [lazy]="true">
      <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        <input type="search" pInputText placeholder="Wpisz nazwę oddziału" (keyup)="dv.filter($event.target.value)">
      </p-header>
      <ng-template let-friend pTemplate="listItem">
        <div class="row">
          <span>{{friend.user.userDetails.firstName}} {{friend.user.userDetails.lastName}}</span><span
          *ngIf="friend.user.fancier.section!=null">, Sekcja : {{friend.user.fancier.section.name}}</span>
          <button *ngIf="deleting!=friend.idFriend" pButton type="button" icon="pi pi-times"
                  class="ui-button-rounded ui-button-secondary right"
                  (click)="showDeleting(friend.idFriend)"></button>
          <button *ngIf="deleting==friend.idFriend" pButton type="button" icon="pi pi-times"
                  class="ui-button-rounded ui-button-danger right"
                  pTooltip="Kliknij ponownie, aby usunąć z listy znajomych" tooltipPosition="right"
                  (click)="deleteFromFriendList(friend)"></button>
          <button pButton type="button" icon="pi pi-search" class="ui-button-rounded right" (click)="openProfile(friend)"></button>
        </div>
      </ng-template>
      <ng-template let-friend pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3 grid">
          <span>{{friend.user.userDetails.firstName}} {{friend.user.userDetails.lastName}}</span><br>
          <span *ngIf="friend.user.fancier.section!=null">Sekcja : {{friend.user.fancier.section.name}}</span>
          <div class="middle">
            <button pButton type="button" icon="pi pi-search" class="ui-button-rounded" (click)="openProfile(friend)"></button>
            <button *ngIf="deleting!=friend.idFriend" pButton type="button" icon="pi pi-times"
                    class="ui-button-rounded ui-button-secondary"
                    (click)="showDeleting(friend.idFriend)"></button>
            <button *ngIf="deleting==friend.idFriend" pButton type="button" icon="pi pi-times"
                    class="ui-button-rounded ui-button-danger"
                    pTooltip="Kliknij ponownie, aby usunąć z listy znajomych" tooltipPosition="bottom"
                    (click)="deleteFromFriendList(friend)"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
  <p-tabPanel header="Zaproszenia">
    <p-dataView #dv [value]="this.friends.invitations" emptyMessage="Brak zaproszeń" filterBy="branchName" [lazy]="true">
      <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        <input type="search" pInputText placeholder="Wpisz nazwę oddziału" (keyup)="dv.filter($event.target.value)">
      </p-header>
      <ng-template let-invitation pTemplate="listItem">
        <div class="row">
          <span>{{invitation.host.userDetails.firstName}} {{invitation.host.userDetails.lastName}}</span>
          <span *ngIf="invitation.host.fancier.section!=null">, Sekcja : {{invitation.host.fancier.section.name}}</span>
          <button *ngIf="rejecting!=invitation.idInvitation" pButton type="button" icon="pi pi-times"
                  class="ui-button-rounded ui-button-secondary right"
                  (click)="showRejecting(invitation.idInvitation)"></button>
          <button *ngIf="rejecting==invitation.idInvitation" pButton type="button" icon="pi pi-times"
                  class="ui-button-rounded ui-button-danger right"
                  pTooltip="Kliknij ponownie, aby usunąć z listy znajomych" tooltipPosition="right"
                  (click)="rejectInvitation(invitation)"></button>
          <button pButton type="button" icon="pi pi-check" class="ui-button-rounded right" (click)="acceptInvitation(invitation)"></button>
        </div>
      </ng-template>
      <ng-template let-invitation pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3 grid">
          <span>{{invitation.host.userDetails.firstName}} {{invitation.host.userDetails.lastName}}</span><br>
          <span *ngIf="invitation.host.fancier.section!=null">Sekcja : {{invitation.host.fancier.section.name}}</span>
          <div class="middle">
            <button pButton type="button" icon="pi pi-check" class="ui-button-rounded" (click)="acceptInvitation(invitation)"></button>
            <button *ngIf="rejecting!=invitation.idInvitation" pButton type="button" icon="pi pi-times"
                    class="ui-button-rounded ui-button-secondary"
                    (click)="showRejecting(invitation.idInvitation)"></button>
            <button *ngIf="rejecting==invitation.idInvitation" pButton type="button" icon="pi pi-times"
                    class="ui-button-rounded ui-button-danger"
                    pTooltip="Kliknij ponownie, aby usunąć z listy znajomych" tooltipPosition="bottom"
                    (click)="rejectInvitation(invitation)"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
