p{
  text-align: center;
}
div.row{

  border-bottom: 1px #cccccc solid;
  margin: 5px 10px;
}
div.grid{
  border: 1px #cccccc solid;
  border-radius: 3px;
  text-align: center;
}
button{
  margin: 2px;
}
button.right{
  float: right;
}
div.middle{
  margin: 10px 0;
  text-align: center;
}
input{
  margin : 0 10px;
}
