p{
  width: 100%;
  text-align: center;
}
table{
  text-align: center;
  width: 100%;
}
tr{
  height: 30px;
}
td{
  width: 50%;
}
td.right{
  text-align: right;
  font-weight: bold;
}
td.left{
  text-align: left;
}
div.button{
  width: 100%;
  text-align: center;
}
div.content{
  width: 100%;
}
