<div *ngIf="user!= null" class="content">
  <p>
    <span>Profil użytkownika {{user?.userDetails?.firstName}} {{user?.userDetails?.lastName}}</span>
  </p>

  <p-tabView>
    <!--<p-tabPanel header="Posty">-->
    <!--<app-mainpage></app-mainpage>-->
    <!--</p-tabPanel>-->
    <p-tabPanel header="Informacje">
      <table>
        <tr>
          <td>
            <span></span>
          </td>
        </tr>
        <tr>
          <table>
            <tr>
              <td class="right">
                <span>Imię i nazwisko</span>
              </td>
              <td class="left">
                <span>{{user?.userDetails.firstName}} {{user?.userDetails.lastName}}</span>
              </td>
            </tr>
            <tr>
              <td class="right">
                <span>Adres e-mail</span>
              </td>
              <td class="left">
                <span>{{user?.email}}</span>
              </td>
            </tr>
            <tr>
              <td class="right">
                <span>Adres</span>
              </td>
              <td class="left">
                <span>{{user?.userDetails.city}}, {{user?.userDetails.address}}</span>
              </td>
            </tr>
            <tr>
              <td class="right">
                <span>Nr telefonu</span>
              </td>
              <td class="left">
                <span>{{user?.userDetails.telephoneNumber}} </span>
              </td>
            </tr>
            <tr *ngIf="branch!=null">
              <td class="right">
                <span>Oddział</span>
              </td>
              <td class="left">
                <span>{{branch?.name}}</span>
              </td>
            </tr>
            <tr *ngIf="user?.fancier.section!=null">
              <td class="right">
                <span>Sekcja</span>
              </td>
              <td class="left">
                <span>{{user?.fancier.section.name}}</span>
              </td>
            </tr>
          </table>
        </tr>
      </table>
    </p-tabPanel>
    <p-tabPanel header="Aukcje">
      <app-auctions-list [auctions]="auctions" title="Aukcje użytkownika"></app-auctions-list>
    </p-tabPanel>
  </p-tabView>
</div>

<div *ngIf="user == null" class="content">
  <p>
    <span>Aby wyświetlić profil tego użytkownika, konieczne jest nawiązanie znajomości</span>

  </p>
  <div class="button">
    <button pButton type="button" label="Wyślij zaproszenie do znajomych" class="ui-button-rounded" (click)="sendInvitation()"></button>
  </div>

</div>
