div.content{
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
div.component{
  margin: auto;
}
h1{
  text-align: center;
  color:#007bff;
  font-weight: 900;
  font: 70px Calibri;
  /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}
