<div class="content">
  <div class="input">
  <label>Odwiedź stronę oddziału i dołącz do sekcji, jeżeli została ona utworzona przez administratora oddziału</label><br><br>
      <div class="component">
        <app-branch-searching [isHeader]="false"></app-branch-searching>
      </div>
  </div>
</div>
