div.header{
  text-align: center;
  background: #007AD9;
}

div.hello{
  text-align: left;
  color: #ffffff;
}
div.searching{
  max-width: 400px;
  margin: auto auto;
}
div.logout{
  margin: auto 0;
  text-align: right;
}
button.logout{
  width: 100px;
}

.show-mobile{
  display: none;
}

/*for mobile view*/
@media  (max-width: 960px){
  div.menu-icon{
    min-width: 33px;
  }
  button.mobile-button{
    font-size: 10px;
    display: inline-block;
    margin: 0 2px 0 2px;
  }
  div.content{
    width: 100%
  }
  div.searching{
    @extend .hide
  }
  .show-mobile{
    display: block;
  }
  .hide-mobile{
    display: none;
  }
  div.w50{
    width: 50%;
  }
  .mobile-font{
    width: 100%;
    font-size: 10px;
    padding: 0 0 0 3px
  }
}



