<!--The content below is only a placeholder and can be replaced.-->

<p-toast [style]="{marginTop: '0', width : '400px'}" position="top-center"></p-toast>


<ng-container>
  <div class="ui-fluid">
    <div class="ui-g">
      <div *ngIf="this.user.isUserLogged" class="ui-g-12 header">
        <div class="ui-g-3 ui-md-3 ui-g-nopad ui-sm-3 hello w50">
            <div class="ui-g-3 ui-g-nopad show-mobile menu-icon">
              <button class="ui-button-primary" pButton type="button" icon="pi pi-ellipsis-v"
                      (click)="toggleMenu()"></button>
            </div>
            <div class="ui-g-9 ui-g-nopad">
              <div class="mobile-font">
                <span>iDove</span>
              </div>
              <div class="mobile-font">
                <span>{{this.user.userDetails.firstName}} {{this.user.userDetails.lastName}}</span>
              </div>
          </div>
        </div>
        <div class="ui-g-6 hide-mobile">
          <div class="searching hide-mobile">
            <app-branch-searching></app-branch-searching>
          </div>
        </div>
        <div class="ui-g-3 ui-md-3 ui-sm-3 ui-g-nopad logout w50">
          <div>
            <button class="show-mobile mobile-button " pButton type="button" icon="pi pi-search"
                    (click)="openSearching()"></button>
            <button class="show-mobile mobile-button" pButton type="button" icon="pi pi-sign-out"
                    (click)="logout()"></button>
          </div>
          <button class="logout hide-mobile" pButton type="button" icon="pi pi-sign-out" label="Wyloguj"
                  (click)="logout()"></button>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" *ngIf="this.user.isUserLogged; else login">
        <div class="ui-g-2 ui-g-nopad hide-mobile">
          <app-menu></app-menu>
        </div>
        <div class="ui-g-10 ui-g-nopad content">
          <router-outlet></router-outlet>
        </div>
      </div>
      <ng-template #login>
        <div class="ui-g-12 ui-g-nopad">
          <router-outlet></router-outlet>
        </div>
      </ng-template>

    </div>
  </div>
</ng-container>




