<div class="pigeon-profile-content">
  <div>
    <span><b>Numer obrączki</b></span>
  </div>
  <div>
    <span>{{pigeon.ringNumber}}</span>
  </div>
  <div *ngIf="!isLineage">
    <span><b>Kraj obrączki</b></span>
  </div>
  <div *ngIf="!isLineage">
    <span *ngIf="country!=null">{{country.name}}</span>
  </div>
  <div *ngIf="!isLineage">
    <span><b>Typowanie</b></span>
  </div>
  <div *ngIf="!isLineage">
    <span>GMP </span><span *ngIf="pigeon.isGMP"><i class="pi pi-check" style="font-size: 1em"></i></span><span *ngIf="!pigeon.isGMP"><i class="pi pi-times" style="font-size: 1em"></i></span>
    <span>MP </span><span *ngIf="pigeon.isMP"><i class="pi pi-check" style="font-size: 1em"></i></span><span *ngIf="!pigeon.isMP"><i class="pi pi-times" style="font-size: 1em"></i></span>
    <span>IMP </span><span *ngIf="pigeon.isIMP"><i class="pi pi-check" style="font-size: 1em"></i></span><span *ngIf="!pigeon.isIMP"><i class="pi pi-times"style="font-size: 1em"></i></span>
  </div>
  <div>
    <span><b>Barwa</b></span>
  </div>
  <div>
    <span>{{color.shortcut}} - {{color.name}}</span>
  </div>
  <div>
    <span><b>Płeć</b></span>
  </div>
  <div>
    <span *ngIf="pigeon.sex">samiec</span><span *ngIf="!pigeon.sex">samica</span>
  </div>
  <div *ngIf="!isLineage">
    <span><b>Obecność w hodowli</b></span>
  </div>
  <div *ngIf="!isLineage">
    <span *ngIf="pigeon.isAlive">obecny <i class="pi pi-home"></i></span><span *ngIf="!pigeon.isAlive">nieobecny <i class="pi pi-times"></i></span>
  </div>
  <div *ngIf="!isLineage">
    <span><b>Matka</b></span>
  </div>
  <div *ngIf="!isLineage">
    <span *ngIf="pigeon.motherId ==null">brak danych  <i class="pi pi-times" style="font-size: 1em"></i></span>
    <span *ngIf="pigeon.motherId !=null">{{pigeon.motherRingNumber}}</span>
  </div>
  <div *ngIf="!isLineage">
    <span><b>Ojciec</b></span>
  </div>
  <div *ngIf="!isLineage">
    <span *ngIf="pigeon.fatherId ==null">brak danych  <i class="pi pi-times" style="font-size: 1em"></i></span>
    <span *ngIf="pigeon.fatherId !=null">{{pigeon.fatherRingNumber}}</span>
  </div>

  <div *ngIf="!isLineage">
  <div *ngIf="pigeon.description !=null">
    <span><b>Opis</b></span>
  </div>
  <div *ngIf="pigeon.description !=null" class="pigeon-profile-description">
    <span>{{pigeon.description}} </span>
  </div>
  </div>
</div>
