div.pigeon-profile-content{
  text-align: center;
}
div.pigeon-profile-description{
  min-height: 50px;
  margin: 5px 10px;
  border-radius: 3px;
  text-align: center;
  hyphens: auto;
  padding: 2px;
}
div{
  margin: 5px 0;
}
span{
  margin: 0 3px;
}
