div{
  height: 100%;
  width: 100%;
}
div.panel{
  width: 300px;
  min-height: 400px;
  margin: 10px auto;
}
div.header{
  margin: 3px 14px;
  width: 100%;
}
#card{
  width: 100%;
  height: 100%;
}
button.rightButton{
  float: right;
  margin: 0 5px;
}
#uploadFile{
  float: right;
  margin: 0 5px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
p{
  word-wrap:break-word;
  max-width:100%;
}
p.title{
  margin: 3px 14px;
}
p.author2{
  margin: 3px 14px;
  color: #333333;
}
p.content{
  min-height: 111px;
}
input.text{
  width: 92%;
}

