<div class="panel">
  <p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
      <img *ngIf="photo!=''" [src]="photo">
      <div class="uploadButton uploadFile">
        <div *ngIf="photo==''" class="upload-btn-wrapper" style="margin: 5px 0">
          <button pButton type="button" label="Dodaj zdjęcie"
                  class="ui-button-rounded ui-button-secondary rightButton"></button>
          <input type="file" accept="image/*" name="photo" (change)="convert($event)"/>
        </div>
      </div>
      <button *ngIf="photo!=''" pButton type="button" label="Usuń zdjęcie"
              class="ui-button-rounded ui-button-secondary rightButton" (click)="clearPhoto()"></button>

      <p *ngIf="!showTitleEdit" (click)="editTitle()" class="ui-card-title ng-star-inserted title"
         pTooltip="Kliknij, aby edytować"><b>{{title}}</b></p>
      <div class="header">
        <input pInputText id="title" *ngIf="showTitleEdit" [(ngModel)]="title" (focusout)="saveTitle()"
               onfocus="this.select()"
               class="text"/>
      </div>
      <p *ngIf="!showAuthorEdit" (click)="editAuthor()" class="author2 ng-star-inserted author"
         pTooltip="Kliknij, aby edytować"><b>{{author}}</b></p>
      <div class="header">
        <input pInputText id="author" *ngIf="showAuthorEdit" [(ngModel)]="author" (focusout)="saveAuthor()"
               onfocus="this.select()"
               class="text"/>
      </div>


    </p-header>
    <p *ngIf="!showContentEdit" (click)="editContent()" pTooltip="Kliknij, aby edytować" class="content">{{content}}</p>
    <textarea id="content" *ngIf="showContentEdit" [rows]="5" [cols]="43" pInputTextarea [(ngModel)]="content"
              autoResize="autoResize"
              (focusout)="saveContent()" onfocus="this.select()"></textarea>
    <p-footer>
      <button pButton type="button" label="Dodaj post" class="ui-button-rounded" (click)="addPost()"></button>
      <button pButton type="button" label="Wyczyść" class="ui-button-rounded ui-button-secondary rightButton" (click)="clear()"></button>
    </p-footer>
  </p-card>
</div>

