<table>
  <tr>
    <td>
      <span class="left">Okręg</span>
    </td>
    <td *ngIf="region !=null">
      <span class="right">{{region.name}}</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="left">Nazwa</span>
    </td>
    <td>
      <span class="right">{{branch.name}}</span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="left">Numer oddziału</span>
    </td>
    <td>
      <span class="right">{{branch.branchNumber}}</span>
    </td>
  </tr>
</table>
