<div class="view">
  <div class="header">
    <button pButton type="button" label="Dodaj gołębia" class="ui-button-rounded ui-button-primary"
            (click)="showAdding()"></button>
    <button pButton type="button" label="PDF" icon="pi pi-download" class="ui-button-rounded"
            (click)="exportListToPDF()"></button>
    <button pButton *ngIf="!isSorting" type="button" label="Filtrowanie" icon="pi pi-angle-down" class="ui-button-rounded" (click)="toogleSorting()"></button>
    <button pButton *ngIf="isSorting" type="button" label="Filtrowanie" icon="pi pi-angle-up" class="ui-button-rounded" (click)="toogleSorting()"></button>
    <button pButton type="button" icon="pi pi-times" class="ui-button-rounded" (click)="clearFilter()" pTooltip="Resetuj filtry" tooltipPosition="bottom"></button>
  </div>
  <div class="sorting" *ngIf="isSorting">
    <table>
      <tr>
        <td>
          <label class="option">Płeć</label><br>
          <p-selectButton [options]="sexOptions" [(ngModel)]="filterSex" multiple="multiple" (onChange)="filter()"></p-selectButton>
        </td>
        <td>
          <label class="option">Status</label><br>
          <p-selectButton [options]="statusOptions" [(ngModel)]="filterStatus" multiple="multiple" (onChange)="filter()"></p-selectButton>
        </td>
        <td>
          <label class="option">Barwa</label><br>
          <p-dropdown [options]="colorList" [(ngModel)]="filterColor"
                    [style]="{'width':'183px'}" scrollHeight="110px" (onChange)="filter()" [showClear]="true" [autoDisplayFirst]="false" ></p-dropdown>
        </td>
        <td>
          <label class="option">Rocznik</label><br>
          <!--<input class="input-filter-yearbook" type="text" pInputText [(ngModel)]="filterYearbook" (keypress)="filter()" pKeyFilter="int" />-->
            <div class="ui-inputgroup">
              <button pButton type="button" icon="pi pi-angle-up" class="ui-button-warn adjacent" (click)="increaseFilterYearbook()"></button>
              <input class="input-filter-yearbook" type="text" pInputText [(ngModel)]="filterYearbook" (keyup)="filter()" pKeyFilter="//">
              <button pButton type="button" icon="pi pi-angle-down" class="ui-button-warn adjacent" (click)="decreaseFilterYearbook()"></button>
              <button pButton type="button" icon="pi pi-times" class="ui-button-warn adjacent" (click)="clearFilterYearbook()"></button>
            </div>
        </td>
        <td>
            <label class="option">Nr oddziału</label><br>
            <p-dropdown [options]="filterBranchOptions" [(ngModel)]="filterBranch"
                        [style]="{'width':'100px'}" scrollHeight="110px" (onChange)="filter()" [showClear]="true" [autoDisplayFirst]="false"></p-dropdown>

        </td>
      </tr>
    </table>

  </div>
  <div class="table" id="pigeon-list">
    <p-table [value]="pigeons">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Numer obrączki</th>
          <th style="width: 20%">Barwa</th>
          <th style="width: 5%">Płeć</th>
          <th style="width: 10%">Status</th>
          <th style="width: 15%">Matka</th>
          <th style="width: 15%">Ojciec</th>
          <th id="actions-header" style="width: 130px">Akcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pigeon>
        <tr>
          <td>{{pigeon.ringNumber}}</td>
          <td>{{this.getColorName(pigeon.colorId)}}</td>
          <td *ngIf="pigeon.sex"><i class="fas fa-mars" pTooltip="samiec"></i></td>
          <td *ngIf="!pigeon.sex"><i class="fas fa-venus" pTooltip="samica"></i></td>
          <td *ngIf="pigeon.isAlive"><i class="pi pi-home"></i></td>
          <td *ngIf="!pigeon.isAlive"><i class="pi pi-times"></i></td>
          <td *ngIf="pigeon.motherId!=null">{{pigeon.motherRingNumber}}</td>
          <td *ngIf="pigeon.motherId==null"><i class="pi pi-times"></i></td>
          <td *ngIf="pigeon.fatherId!=null">{{pigeon.fatherRingNumber}}</td>
          <td *ngIf="pigeon.fatherId==null"><i class="pi pi-times"></i></td>
          <div id="actions" class="buttons">
            <button pButton type="button" icon="pi pi-info" class="ui-button-rounded ui-button-secondary"
                    (click)="openPigeonProfile(pigeon)"></button>
            <button pButton type="button" icon="pi pi-pencil" class="ui-button-rounded ui-button-secondary"
                    (click)="showEditing(pigeon)"></button>
            <button *ngIf="deleting!=pigeon.idPigeon" pButton type="button" icon="pi pi-times"
                    class="ui-button-rounded ui-button-secondary"
                    (click)="showDeleting(pigeon.idPigeon)"></button>
            <button *ngIf="deleting==pigeon.idPigeon" pButton type="button" icon="pi pi-times"
                    class="ui-button-rounded ui-button-danger"
                    pTooltip="Kliknij ponownie, aby potwiedzić" tooltipPosition="right"
                    (click)="deletePigeon(pigeon)"></button>
          </div>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(header)]="title" [(visible)]="showModal" [modal]="true" [draggable]="false">
  <div class="dialog-pigeon">
    <table>
      <tr>
        <td>
          <div class="input title">
            <label>Identyfikacja</label>
          </div>
          <div class="input">
      <span class="ui-float-label">
        <p-autoComplete id="float-input-country" [suggestions]="countryResults" field="shortcut"
                        (completeMethod)="searchCountries($event)" [(ngModel)]="country" size="50"
                        [forceSelection]="true">
          <ng-template let-country pTemplate="item">
            <div class="ui-helper-clearfix">
              <span>{{country.shortcut}} - {{country.name}}</span>
            </div>
          </ng-template>
        </p-autoComplete>
        <!--<input id="float-input-address" type="text" size="50" pInputText [(ngModel)]="countryId">-->
        <label for="float-input-country">Wpisz skrót lub nazwę kraju</label>
      </span>
          </div>
          <div class="input">
      <span class="ui-float-label">
        <input id="float-input-branchNumber" type="text" size="50" pInputText [(ngModel)]="branchNumber">
        <label for="float-input-branchNumber">Numer oddziału</label>
      </span>
          </div>
          <div class="input">
      <span class="ui-float-label">
        <p-inputMask id="float-input-yearbook" type="text" size="50" [(ngModel)]="yearbook" mask="9999"
                     (onComplete)="checkIsOlderThanParents()"></p-inputMask>
        <label for="float-input-yearbook">Rok</label>
      </span>
          </div>
          <div class="input">
      <span class="ui-float-label">
        <input id="float-input-number" type="text" size="50" pInputText [(ngModel)]="number">
        <label for="float-input-number">Numer gołebia</label>
      </span>
          </div>


          <div class="input">
      <span class="ui-float-label">
        <p-dropdown id="float-input-color" [options]="colorList" [(ngModel)]="color"
                    [style]="{'width':'383px'}" scrollHeight="110px"></p-dropdown>
        <!--<input id="float-input-color" type="text" size="50" pInputText [(ngModel)]="colorId">-->
        <label for="float-input-color">Barwa</label>
      </span>
          </div>
          <div class="input title">
            <label>Typowanie</label>
          </div>
          <table>
            <tr>
              <td>
                <p-toggleButton [(ngModel)]="isGMP" onLabel="GMP" offLabel="GMP"></p-toggleButton>
              </td>
              <td>
                <p-toggleButton [(ngModel)]="isIMP" onLabel="IMP" offLabel="IMP"></p-toggleButton>
              </td>
              <td>
                <p-toggleButton [(ngModel)]="isMP" onLabel="MP" offLabel="MP"></p-toggleButton>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div style="height: 380px">
            <div class="input title">
              <label>Obecność w hodowli</label>
            </div>
            <div class="input">
              <p-toggleButton [(ngModel)]="isAlive" onLabel="Obecny" onIcon="pi pi-home" offLabel="Nieobecny"
                              offIcon="pi pi-times"></p-toggleButton>
            </div>
            <div class="input title">
              <label>Pokrewieństwo</label>
            </div>
            <div class="input" pTooltip="Uwaga, rodzicami gołębia mogą być tylko gołębie istniejące w systemie iDove">
              <div class="input parents">
              <span class="ui-float-label">
                <p-autoComplete id="float-input-mother" [suggestions]="motherResults" field="ringNumber"
                                (completeMethod)="searchMothers($event)" [(ngModel)]="selectedMother"
                                size="22"></p-autoComplete>
                <!--<input id="float-input-address" type="text" size="50" pInputText [(ngModel)]="countryId">-->
                <label class="right" for="float-input-mother">Matka</label>
              </span>
              </div>
              <div class="input parents">
              <span class="ui-float-label">
               <p-autoComplete id="float-input-father" [suggestions]="fatherResults" field="ringNumber"
                               (completeMethod)="searchFathers($event)" [(ngModel)]="selectedFather"
                               size="22"></p-autoComplete>
                <!--<input id="float-input-address" type="text" size="50" pInputText [(ngModel)]="countryId">-->
              <label class="right" for="float-input-father">Ojciec</label>
            </span>
              </div>
            </div>
            <div class="input title">
              <label>Płeć</label>
            </div>
            <div class="input">
              <p-selectButton [options]="sexOptions" [(ngModel)]="sex"></p-selectButton>
            </div>
            <div class="input title">
              <label>Opis</label>
            </div>
            <div class="input textarea">
            <textarea pInputTextarea [(ngModel)]="description" [rows]="2" [cols]="51"
                      autoResize="autoResize"></textarea>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <p-footer>
    <div *ngIf="isAdding" class="buttons2">
      <button pButton type="button" label="Dodaj gołębia" class="ui-button-rounded ui-button-primary"
              (click)="addPigeon()"></button>
    </div>
    <div *ngIf="isEditing" class="buttons2">
      <button pButton type="button" label="Edytuj gołębia" class="ui-button-rounded ui-button-primary"
              (click)="editPigeon()"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog *ngIf="pigeonProfile!=null" [header]="'Gołąb o obrączce ' + pigeonProfile.ringNumber"
          [(visible)]="isProfileOpened">
  <div class="pigeon-profile-content">
    <app-pigeon-profile [pigeon]="pigeonProfile"></app-pigeon-profile>
  </div>
</p-dialog>


