button{
  margin: 0 5px;
}
div.buttons{
  width: 130px;
}
div.header{
  width: 1000px;
  margin: 10px 5px;
}
div.table{
  margin: 10px auto 0 5px;
  min-width: 550px;
  max-width: 1500px;
}

div.buttons2 {
  margin: 0 5px 0 5px;
  text-align: center;
}
td{
  text-align: center;
  padding: 0 10px;
}
div.input{
  margin-top: 10px;
  height: 40px;
}
div.input.textarea{
}
div.input.parents{
  margin-top: 0;
  width: 50%;
  float: left;
}
div.input.title{
  border-top: 1px #cccccc solid;
  padding-top: 5px;
  text-align: center;
}
div.column3{
  width: 33%;
}
table{
  text-align: center;
  width: 100%;
}
div.dialog-pigeon{
  height: 420px;
}
div.pigeon-profile-content{
  width: 300px;
  height: 500px;
}
div.sorting{
  height: 60px;
  margin: 10px 10px;
}

label.right{
  margin-left: 5px
}
div.yearbook{
  width :110px;;
}
input.input-filter-yearbook{
  width: 50px;
}
button.adjacent{
  margin: 0 0;
}

