<div id="content">
<div id="logo">
  <h1><img width="150" style="vertical-align: bottom;" src="../../../../assets/images/logo.png"> iDove</h1>
</div>
<div class="inputs">
  <div class="input">
      <span class="ui-float-label">
        <input id="float-input-password" type="password" size="50" pPassword promptLabel="Siła hasła" weakLabel="Słabe"
               mediumLabel="Średnie" strongLabel="Silne" [(ngModel)]="newPassword" (keypress)="onEnter($event)">
        <label for="float-input-password">Nowe hasło</label>
      </span>
  </div>

  <div class="input">
      <span class="ui-float-label">
        <input id="float-input-confirm-password" type="password" size="50" pPassword [feedback]="false"
               [(ngModel)]="confirmPassword" (keypress)="onEnter($event)">
        <label for="float-input-confirm-password">Powtórz hasło</label>
      </span>
  </div>
  <div class="buttons">
    <button pButton type="button" label="Ustaw nowe hasło" class="ui-button-rounded ui-button-secondary" (click)="establishNewPassword()" [disabled]="isButtonDisabled"></button>
  </div>
</div>
</div>
