#content{
  background-color: #ffffff;
  width: 500px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
  box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

#logo{
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}
h1{
  color:#007bff;
  font-weight: 900;
  font: 70px Calibri;
  /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}

div.input{
  margin-top: 20px;
  height: 40px;
}

div.buttons{
  margin: 5px 5px 5px 5px;
  text-align: center;

}
label{
  font-size: 15px;
  margin-left: 15px;
  height: 30px;
}
