/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serifs;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;   /* Height of the footer */
  background: #007AD9;
}
div.footer-logo{
  position:absolute;
  bottom:0;
}
