#content{
  background-color: #ffffff;
  width: 500px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(220,220,220,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(220,220,220,0.75);
  box-shadow: 10px 10px 5px 0px rgba(220,220,220,0.75);
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

#logo{
  margin-top: 20px;
  letter-spacing: 5px;
}

h1{
  color:#007bff;
  font-weight: 900;
  font: 55px Calibri;
  /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}
p{
  width: 100%;
  height: 100px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color:#999966;
  background: bisque;
}
label{
  font-size: 15px;
  margin-left: 15px;
  height: 30px;
}

div{
  width: 100%;
}
div.input{
  margin-top: 25px;
}
div.double{
  width: 50%;
  float: left;
}
div.buttons{
  margin: 50px 5px 5px 5px;
  text-align: center;
  padding-top: 10px
}
button{
  margin: 0 10px 0 10px;
  width: 115px;
}
