<div id="content">
  <div id="logo">
    <h1><img width="100" style="vertical-align: bottom;" src="../../../../assets/images/logo.png"> iDove</h1>
  </div>

  <div id="form">

    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-mail" type="text" size="50" pInputText [(ngModel)]="mail" (keypress)="onEnter($event)">
        <label for="float-input-mail">E-mail</label>
      </span>
    </div>

    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-password" type="password" size="50" pPassword promptLabel="Siła hasła" weakLabel="Słabe"
               mediumLabel="Średnie" strongLabel="Silne" [(ngModel)]="password" (keypress)="onEnter($event)">
        <label for="float-input-password">Hasło</label>
      </span>
    </div>

    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-confirm-password" type="password" size="50" pPassword [feedback]="false"
               [(ngModel)]="confirmPassword" (keypress)="onEnter($event)">
        <label for="float-input-confirm-password">Powtórz hasło</label>
      </span>
    </div>

    <div>
      <div class="input">
      <span class="ui-float-label">
        <input id="float-input-firstname" type="text" size="50" pInputText [(ngModel)]="firstName" (keypress)="onEnter($event)">
        <label for="float-input-firstname">Imię</label>
      </span>
      </div>

      <div class="input">
      <span class="ui-float-label">
        <input id="float-input-lastname" type="text" size="50" pInputText [(ngModel)]="lastName" (keypress)="onEnter($event)">
        <label for="float-input-lastname">Nazwisko</label>
      </span>
      </div>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-address" type="text" size="50" pInputText [(ngModel)]="address" (keypress)="onEnter($event)">
        <label for="float-input-address">Adres</label>
      </span>
    </div>

    <div>
      <div class="input">
      <span class="ui-float-label">
        <input id="float-input-city" type="text" size="50" pInputText [(ngModel)]="city" (keypress)="onEnter($event)">
        <label for="float-input-city">Miasto</label>
      </span>
      </div>

      <div class="input">
      <span class="ui-float-label">
        <input id="float-input-telephoneNumber" type="text" size="50" pInputText [(ngModel)]="telephoneNumber" (keypress)="onEnter($event)" pKeyFilter="num">
        <label for="float-input-telephoneNumber">Telefon</label>
      </span>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button pButton class="ui-button-rounded ui-button-primary" type="button" icon="pi pi-pencil" label="Zarejestruj" (click)="register()"
            [disabled]="this.registration.isRegisterButtonDisabled"></button>
    <button pButton class="ui-button-rounded ui-button-primary" type="button" icon="pi pi-arrow-circle-left" label="Cofnij"
            (click)="this.router.navigate(['/login'])" ></button>
  </div>

</div>
