/*for mobile view*/
#content{
  width: 100%;
  background-color: #ffffff;
  padding: 30px 0 50px 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
  box-shadow: 8px 8px 8px 15px rgba(220,220,220,0.75);
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
div.content{
  margin: auto auto;
  min-width: 400px;
  max-width: 450px;
  text-align: center;
}
.dialog{
  min-width: 320px;
  max-width: 500px;
}
/*for normal view*/
@media  (min-width: 960px){
  #content{
    background-color: #ffffff;
    padding: 30px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(220,220,220,0.75);
    box-shadow: 10px 10px 10px 20px rgba(220,220,220,0.75);
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  div.content{
    margin: auto auto;
    min-width: 400px;
    max-width: 450px;
    text-align: center;
  }
  .dialog{
    width: 500px;
  }
}


#logo{
  letter-spacing: 5px;
}
span.logo {
  color: #007bff;
  font-weight: 900;
  font: 70px Calibri;
  /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}
label.first{
  text-align: center;
}
div.w200{
  width: 200px;
  margin: auto auto;
}
div.input{
  margin: 25px 0 0 0;
}
div.additional{
  margin: 20px;
  border-top: 1px #e5e5e5 solid;
  padding-top: 10px
}
div.spinner{
  margin: 100px;
  text-align: center;
}
