<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div *ngIf="this.user.isRestoringSession" class="spinner">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="content">
  <div *ngIf="!this.user.isRestoringSession" id="content" class="ui-fluid">
    <div class="ui-g ui-g-nopad">
      <div class="ui-g-12">
        <img width="150" alt="iDove" style="vertical-align: bottom;" src="../../../../assets/images/logo.png">
      </div>
      <div class="ui-g-12">
        <span class="logo"> iDove</span>
      </div>
      <div class="ui-g-offset-1 ui-lg-offset-0 ui-g-10 ui-md-10 ui-lg-12 ui-xl-12">
        <div class="input">
            <span class="ui-float-label">
              <input id="float-input-username" type="text" pInputText [(ngModel)]="username"
                     (keypress)="onEnter($event)">
              <label for="float-input-username">Adres e-mail</label>
            </span>
        </div>
        <div class="input">
        <span class="ui-float-label">
              <input id="float-input-password" type="password" pPassword [feedback]="false" [(ngModel)]="password"
                     (keypress)="onEnter($event)">
              <label for="float-input-password">Hasło</label>
            </span>
        </div>
        <div class="ui-g-12 login-button" style="margin-top: 10px">
          <button pButton type="button" label="Zaloguj" class="ui-button-rounded ui-button-primary button"
                  (click)="login()" [disabled]="this.user.isLoginButtonDisabled"></button>
        </div>
        <div class="ui-g-12">
          <hr style="border-top: 1px solid rgba(0,0,0,.1)"/>
          <div class="ui-g-6">
            <button pButton type="button" label="Utwórz konto" class="ui-button-rounded ui-button-secondary"
                    routerLink="/registration"></button>
          </div>
          <div class="ui-g-6">
            <button pButton type="button" label="Odzyskiwanie hasła" class="ui-button-rounded ui-button-secondary"
                    (click)="enablePasswordForgot()"></button>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="w200">
            <button pButton type="button" icon="fas fa-dove" class="ui-button-rounded ui-button-primary"
                    label="Znaleziony gołąb" iconPos="right" id="fb-login"
                    pTooltip="Kliknij, jeżeli chcesz chcesz poinformować właściciela, bez zakładania konta"
                    tooltipPosition="bottom" (click)="openLostPigeon()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Odzyskiwanie hasła" [(visible)]="isPasswordReseting"
          [modal]="true" styleClass="dialog">

  <div class="ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12">
        <label class="first">W celu przypomnienia hasła podaj adres e-mail użyty podczas
          rejestracji. Zostanie wysłany na niego link z możliwością zresetowania obecnego hasła</label>
      </div>
      <div class="ui-g-12">
        <span class="ui-float-label">
          <input id="float-input-mail" type="text" pInputText [(ngModel)]="mail"
                 (keypress)="onPasswordResetingEnter($event)">
          <label class="reset" for="float-input-mail">Adres e-mail</label>
      </span>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" label="Wyślij" class="ui-button-rounded ui-button-secondary"
                (click)="resetPassword()"></button>
      </div>
    </div>
  </div>
</p-dialog>

