<div>
  <div class="header">
    <button pButton type="button" label="Dodaj aukcję" class="ui-button-rounded ui-button-primary"
            (click)="showAdding()"></button>
  </div>
 <router-outlet></router-outlet>
</div>


<p-dialog header="Dodawanie aukcji" [(visible)]="isAdding" [modal]="true" [draggable]="false">
  <div class="modal">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-title" type="text" size="110" pInputText [(ngModel)]="title">
        <label for="float-input-title">Tytuł</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <textarea id="float-input-description" [rows]="12" [cols]="110"  pInputTextarea autoResize="autoResize"
                  [(ngModel)]="description"></textarea>
        <label for="float-input-description">Opis aukcji</label>
        </span>

      <div class="buttons">
        <button pButton type="button" label="Dodaj aukcję" class="ui-button-rounded ui-button-primary"
                (click)="addAuction()"></button>
        <button pButton type="button" label="Wyczyść" class="ui-button-rounded ui-button-secondary"
                (click)="clearInputs()"></button>
      </div>
    </div>
  </div>
</p-dialog>
