div.header{
  margin: 5px 5px 15px;
}

button{
  margin: 0 5px;
}
div.input{
  margin-top: 15px;
  height: 40px;
}

div.buttons{
  margin: 30px 5px 5px 5px;
  text-align: center;
}
div.modal{
  height: 400px;
}
