div.calendar{
  margin : 5px 5px;
}
div.adding-content{
  height: 620px;
  width: 800px;

}
div.header {
  padding: 5px;
  width: 100%;
  text-align: left;
}
div.title{
  text-align: center;
  margin : 15px auto
}
div.input{
  width:50%;
  float: left;
  height: 520px;
}
div.start-time{
  text-align: center;
  margin: auto;
}
div.end-time{
  text-align: center;
  margin : auto;
}
p-calendar.input{
  width: 100%;
}
label{
  width: 100%;
}
#input{
  width: 100%;
}
div.buttons{
  text-align: center;
}
button.modal{
  margin: 0 5px;
}
div.fake-button{
  margin: 0 5px;
  cursor:default;
}
