<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />

<div class="header">
  <button pButton type="button" label="Dodaj wydarzenie" class="ui-button-rounded" (click)="showAdding()"></button>
  <div pButton class="ui-button-rounded ui-button-secondary fake-button" label="Edycja lub usuwanie" pTooltip="Kliknij na wydarzenie w kalendarzu, aby edytować lub usunąć wydarzenie"></div>

</div>

<div class="calendar" >
<p-fullCalendar id="calendar" [events]="eventsList"  [options]="this.eventsService.options" ></p-fullCalendar>
</div>


<p-dialog [header]="modalTitle" [modal]="true" [(visible)]="isModal" [draggable]="false">
  <div class="adding-content">
    <div class="title">
      <span class="ui-float-label">
          <input id="title" type="text" size="30" pInputText [(ngModel)]="title">
          <label for="title">Tytuł</label>
      </span>
    </div>
    <div>
    <div class="input">
      <div class="start-time">
        <label>Data początkowa:*</label><br>
        <p-calendar [(ngModel)]="startDate" [defaultDate]="startDate" [inline]="true" [locale]="pl" [showTime]="true"></p-calendar>
      </div>
    </div>
    <div class="input">
      <div class="end-time">
        <label>Data końcowa:</label><br>
        <p-calendar [(ngModel)]="endDate" [defaultDate]="endDate" [inline]="true" [locale]="pl" [showTime]="true"></p-calendar>
      </div>
    </div>
    </div>
    <div class="buttons">
      <button *ngIf="isAdding" pButton type="button" label="Dodaj" class="ui-button-rounded modal" (click)="addEvent()"></button>
      <button *ngIf="isEditing" pButton type="button" label="Edytuj" class="ui-button-rounded modal" (click)="editEvent()"></button>
      <button *ngIf="isEditing&&!isDeleting" pButton type="button" label="Usuń" class="ui-button-rounded ui-button-secondary modal" (click)="showDeleting()"></button>
      <button *ngIf="isDeleting" pButton type="button" label="Usuń" class="ui-button-rounded ui-button-danger modal" (click)="deleteEvent()" pTooltip="Kliknij ponownie, aby potwierdzic usunięcie wydarzenia"></button>
    </div>
  </div>
</p-dialog>






