<div class="header">
        <button *ngIf="this.fancier.dovecote.idDovecote==null" pButton type="button" label="Dodaj gołębnik"
                class="ui-button-rounded ui-button-primary add" (click)="showAdding()" [disabled]="this.fancier.isInitial"></button>
        <button *ngIf="this.fancier.dovecote.idDovecote!=null" pButton type="button" label="Edytuj gołębnik"
                class="ui-button-rounded ui-button-secondary" (click)="showEditing()"></button>
        <button *ngIf="this.fancier.dovecote.idDovecote!=null" pButton type="button" label="Usuń gołębnik"
                class="ui-button-rounded ui-button-secondary" (click)="showDeleting()"></button>
        <button *ngIf="this.fancier.dovecote.idDovecote!=null" pButton type="button" label="Wyśrodkuj"
          class="ui-button-rounded ui-button-secondary" (click)="centerOnDovecote()"></button>
</div>
<div id="map" class="map"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletClick)="showCoordinates($event)"
     (leafletMapReady)="onMapReady($event)"
      pTooltip="Kliknij na znacznik, aby zobaczyć szczegóły" tooltipPosition="top">

</div>

<p-dialog [(header)]="title" [modal]="true" [(visible)]="showModal" [draggable]="false">
  <div class="modal details">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-address" type="text" size="50" pInputText [(ngModel)]="address">
        <label for="float-input-address">Adres</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-city" type="text" size="50" pInputText [(ngModel)]="city">
        <label for="float-input-city">Miasto</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <p-inputMask id="float-input-lat" [(ngModel)]="latitude" mask="99.9999999999" size="50"></p-inputMask>
        <!--<input id="float-input-lat" type="text" size="50" pInputText [(ngModel)]="latitude">-->
        <label for="float-input-lat">Szerokość geograficzna</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <p-inputMask id="float-input-lng" [(ngModel)]="longitude" mask="99.9999999999" size="50"></p-inputMask>
        <!--<input id="float-input-lng" type="text" size="50" pInputText [(ngModel)]="longitude">-->
        <label for="float-input-lng">Długość geograficzna</label>
      </span>
    </div>
    <div *ngIf="isAdding" class="buttons">
      <button pButton type="button" label="Dodaj gołębnik" class="ui-button-rounded ui-button-primary"
              (click)="addDovecote()"></button>
    </div>
    <div *ngIf="isEditing" class="buttons">
      <button pButton type="button" label="Edytuj gołębnik" class="ui-button-rounded ui-button-primary"
              (click)="editDovecote()"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Czy napewno chcesz usunąć gołębnik?" [(visible)]="isDeleting" [modal]="true" [draggable]="false" >
  <div class="modal delete">
    <div class="input">
        <label class="confirm">Uwaga, tej operacji nie można cofnąć</label>
    </div>
    <div class="buttons">
      <button pButton type="button" label="Potwierdź"  class="ui-button-rounded ui-button-primary modal" (click)="deleteDovecote()"></button>
    </div>
  </div>
</p-dialog>


