div.map{
  height: 600px;
  margin: 15px 15px;
}
div.header{
  margin: 0 15px;
  height: 25px;
}
div.row{
  margin : 5px 0;
}
td{
  margin : 5px 0;
  text-align: center;
}
div.modal{
  height: 250px;
}
div.modal.details{
  height: 350px;
}
div.input{
  margin-top: 35px;
  height: 20px;
  text-align: center;
}
label.details {
  margin: 0 15px;
}
button{
  margin: 0 15px;
}
button.add{
   margin: 0 0;
 }
div.buttons{
  margin: 30px 5px 5px 5px;
  text-align: center;
}
label.right{
  padding-left:10px;
}
div.modal.delete{
  height: 100px;
}
span{
  margin: 0 15px;
}
button.modal{
  margin: 0 5px;
}
