<div id="content">
  <div id="logo">
    <h1><img width="150" style="vertical-align: bottom;" src="../../../../assets/images/logo.png"> iDove</h1>
  </div>

    <div class="buttons">
      <button pButton type="button" label="Potwierdż zmianę adresu email" class="ui-button-rounded ui-button-secondary" (click)="establishNewEmail()"></button>
    </div>
  </div>
