
p{
  word-wrap:break-word;
  max-width:100%;
}
span.date{
  font-size: 10px;
  color: grey;
}
div.posts{
  border: 1px gray solid;
  text-align: center;
}
div.title{
  margin: 30px 0;
}
div.welcome{
  text-align: center;
}
#logo{
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 5px;
  color:#007bff;
  font-weight: 500;
  font: 35px Calibri;
  /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}
