<div class="posts">

  <div class="title">
    <span>Witaj w aplikacji </span>
    <div id="logo">
      <h1><img width="150" style="vertical-align: bottom;" src="../../../../assets/images/logo.png"> iDove</h1>
    </div>
  </div>

  <div class="welcome">
    <span></span>
  </div>

</div>
