<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css'/>
<p *ngIf="branchService.branch != null">
  <span>Strona oddziału {{branchService.branch.name}} {{branchService.branch.branchNumber}}</span>
</p>
<p-tabView (onChange)="refreshBranch()">
  <p-tabPanel header="Dane oddziału">
    <table>
      <tr>
        <td>
          <span class="left">Okręg</span>
        </td>
        <td *ngIf="branchService.region !=null">
          <span class="right">{{branchService.region.name}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="left">Nazwa</span>
        </td>
        <td>
          <span class="right">{{branchService.branch.name}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="left">Numer oddziału</span>
        </td>
        <td>
          <span class="right">{{branchService.branch.branchNumber}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="left">Administrator</span>
        </td>
        <td *ngIf="administrator != null">
          <span class="right">{{administrator.userDetails.firstName}} {{administrator.userDetails.lastName}}</span>
        </td>
        <td *ngIf="administrator == null">
          <button pButton type="button" label="Zgłoś się na administratora" class="ui-button-rounded" (click)="applyForAdministrator()" [disabled]="this.branchService.isApplicationButtonDisabled"></button>
        </td>
      </tr>
    </table>

  </p-tabPanel>
  <p-tabPanel header="Sekcje" >
    <p-dataView [value]="sectionsList" emptyMessage="Brak sekcji utworzonych w tym oddziale">
      <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </p-header>
      <ng-template let-section pTemplate="listItem">
        <div class="row">
          <span>{{section.name}}</span>
          <div class="right">
            <span *ngIf="belongsToSection(section)"><i class="pi pi-check-circle" style="font-size: 2em; margin-right: 50px"></i></span>
            <button *ngIf="!belongsToSection(section)" pButton type="button" label="Dołącz do sekcji" class="ui-button-rounded" (click)="joinSection(section)"></button>
          </div>
        </div>
      </ng-template>
      <ng-template let-section pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3 middle">
          <span >{{section.name}}</span>
          <div >
            <span *ngIf="belongsToSection(section)"><i class="pi pi-check-circle" style="font-size: 2em"></i></span>
            <button *ngIf="!belongsToSection(section)" pButton type="button" label="Dołącz do sekcji" class="ui-button-rounded" (click)="joinSection(section)"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
  <p-tabPanel header="Terminarz">
    <div class="calendar">
      <p-fullCalendar id="calendar" [events]="eventsList" [options]="this.events.options"></p-fullCalendar>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Hodowcy">
    <p-dataView [value]="fancierList" emptyMessage="Brak hodowców należących do tego oddziału">
      <p-header>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </p-header>
      <ng-template let-fancier pTemplate="listItem">
        <div class="row">
          <span>{{fancier.userDetails.firstName}} {{fancier.userDetails.lastName}}</span>
          <div class="right">
            <button pButton type="button" label="Wyświetl profil" class="ui-button-rounded" (click)="openUserProfile(fancier)"></button>
          </div>
        </div>
      </ng-template>
      <ng-template let-fancier pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3 middle">
          <span >{{fancier.userDetails.firstName}} {{fancier.userDetails.lastName}}</span>
          <div>
            <button pButton type="button" label="Wyświetl profil" class="ui-button-rounded grid"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
</p-tabView>
<router-outlet></router-outlet>

