p{
  text-align: center;
}
span.left{
  float: right;
  font-weight: bold;
  margin-right: 5px;
}
span.right{
  float: left;
  margin-left: 5px;
}
table{
  width: 100%;
}
td{
  width: 50%;
}
div.calendar{
  margin : 5px 5px;
}
button.right{
  float : right;
}
div.row{
  width: 100%;
  margin: 5px 0;
}
div.right{
  float: right;
}
div.middle{
  text-align: center;
}
span.grid{
  margin: 5px 5px;
}
button.grid{
  margin : 5px 5px;
}
