button.right{
  float : right;
}
div.row{
  width: 100%;
  margin: 5px 0;
}
div.right{
  float: right;
}
div.middle{
  text-align: center;
}
span.grid{
  margin: 5px 5px;
}
button.grid{
  margin : 5px 5px;
}
