<p-dataView [value]="fanciers" emptyMessage="Brak hodowców należących do tego oddziału">
  <p-header>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>
  <ng-template let-fancier pTemplate="listItem">
    <div class="row">
      <span>{{fancier.userDetails.firstName}} {{fancier.userDetails.lastName}}</span>
      <div class="right">
        <button pButton type="button" label="Wyświetl profil" class="ui-button-rounded" (click)="openUserProfile(fancier)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-fancier pTemplate="gridItem">
    <div class="ui-g-12 ui-md-3 middle">
      <span >{{fancier.userDetails.firstName}} {{fancier.userDetails.lastName}}</span>
      <div>
        <button pButton type="button" label="Wyświetl profil" class="ui-button-rounded grid" (click)="openUserProfile(fancier)"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>
